{% extends 'main_app/base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../../static/css/cards.css">
{% endblock %}

{% block content %}
	<!-- Highlight the button -->
	<script type="text/javascript">
		window.onload = function()
		{
			$("#cards").addClass("active");
		}
	</script>
	<div class = "container">

		<!-- The title of the page and instructions if the user has no sets -->
		<div class = "row title">
			<h1>My Collection</h1>
			<p id = "empty-message">
				It doesn't look like you've added any cards to your collection yet. 
				<br>
				To add cards to your collection, add cards from the Community, create your own cards or add cards from our official collection!
			</p>

			{% if user.is_authenticated == False %}
				<p id = "no-account">
					You need to have an account to create cards.
				</p>
			{% endif %}
		</div>
		
		<div class = "row card-display">
			<!-- Dynamically fill this area with divs with the card -->
			<!-- When you click on an image, use java script to create an area where you can see the number of likes it has, author etc. -->

			{% for card in collection %}
				<h1>{{ card }}</h1>
			{% endfor %}
			

			<!-- <div class = "card-container col-lg-3">
				<img class = "card-image" src="../../static/imgs/cards/1.png" width = 80%>
			</div> -->

			
		</div>
		
	</div>
	

{% endblock %}