{% extends 'main_app/base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../../static/css/createCard.css">
{% endblock %}

{% block content %}
	<!-- Highlight the button -->
	<script type="text/javascript">
		window.onload = function()
		{
			$("#createCard").addClass("active");
		}
	</script>

	<div id = "container">
		<div class = "row">
			<div id = "formContainer" class = "row">
				<div id = "form" class = "col-lg-6">
					<div id = "instructions">
						<h1>Welcome to the Create a Card Page!<h1>
						<p>
							Have an idea for a hilarious, disgusting or just plain fucked up card? Use the card creator below to create a card.
							Once you hit sumbit, your card will be added to your personal collection and will also be publically displayed in the Community Collection. 
						</p>
						<h2>Get writing!</h2>
					</div>
					
					<form id = "card-form" action = "" method="post">
						{% csrf_token %}
						{{ form }}
    					<input id = "submit-button" type="submit" value="Submit" />
					</form>
				</div>

				<div id = "cardCreator" class = "col-lg-6">
					<div class = "center">
						<div id = "display-container">
							<canvas id = "dynamic-creator" width = "333" height = "500"></canvas>
							<textarea id = "dynamic-textarea" rows = "13" maxlength="220" readonly></textarea>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Use the auto size imported script -->
	<script type="text/javascript" src = "../../static/js/lib/autosize-master/dist/autosize.js"></script>
	<script type="text/javascript">
		autosize(document.getElementsByClassName("card-text-area"));
	</script>
	<script type="text/javascript" src = "../../static/js/createCard.js"></script>
	
{% endblock %}