{% extends 'main_app/base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
{% endblock %}
	
	
{% block content %}
	<!-- Highlight the button -->
	<script type="text/javascript">
		window.onload = function()
		{
			$("#login").addClass("active");
		};
	</script>

	<div id = "container">

		{% if user.is_authenticated == False %}
			<h1>Login</h1>
			<div class = "row">
				<div class = "col">
					<form id = "login-form" action = "" method="post">
						{% csrf_token %}
						{{ form }}
						<div class = "center">
							<input id = "submit-button" type="submit" value="Submit" />
						</div>
					</form>
				</div>
			</div>
   		{% endif %}

   		{% if user.is_authenticated == True %}
   			<p id = "login-message">You are already logged in!</p>
   		{% endif %}
		
	</div>

	
{% endblock %}