{% extends 'main_app/base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../../static/css/register.css">
{% endblock %}
	
	
{% block content %}
	<!-- Highlight the button -->
	<script type="text/javascript">
		window.onload = function()
		{
			$("#register").addClass("active");
		};
	</script>

	<div id = "container">
		<h1>Welcome to the Registeration Page!</h1>

		<form id = "card-form" action = "" method="post">
			{% csrf_token %}
			{{ form }}
			<input id = "submit-button" type="submit" value="Submit" />
		</form>
	</div>
{% endblock %}