body
{
	overflow:visible;
}

.container
{
	margin-top:50px;
}

.title
{
	
}

.card-display
{
	margin-top:25px;
	text-align:center; /*Centers all the cards*/
}

/* The container of the card canvas */
.card-container
{
	
}

/*The card canavs*/
.card
{

}

.card-container
{
	position:relative;
}

.dynamic-textarea
{
	resize:none;
	position:absolute;
	outline:none;
	border:none;
	background-color: rgba(0,0,0,0);
	color:white;
	left:68px;
	top:15px;
	width:200px;
	font-size:18px;
	font-weight:bold;
}

.card-image
{
	border:2px solid green;
	
	cursor:pointer;
}

.card-image:hover
{
	border:2px solid black;
	transition: 0.3s;
}