body
{
	overflow:visible;
}

.container
{
	margin-top:50px;
}

.title
{
	
}

.card-display
{
	margin-top:25px;
}

.col-lg-3
{
	position:relative;
}

/*The card canavs*/
.card
{

}

.card-container
{
	width:200px;
	margin:0 auto;
	position:relative;
	margin-bottom:10px;
}

.dynamic-textarea
{
	resize:none;
	position:absolute;
	outline:none;
	border:none;
	cursor:pointer;
	background-color:rgba(0,0,0,0);
	color:white;
	left:10px;
	top:15px;
	width:190px;
	font-size:18px;
	font-weight:bold;
}

.add-button
{
	background-color:rgba(0,0,0,0);
	border:none;
	position:absolute;
	left:172px;
	top:-7px;
	transition: 0.4s;
}

.author
{
	font-weight:bold;
	position:absolute;
	left:5px;
	top:275px;
	text-decoration: none;
}

.author-link
{
	color:yellow;
	transition:0.3s;
}

.plus
{
	font-size:30px;
}

.card-image
{
	border:2px solid green;
	
}

.author-link:hover
{
	color:yellow;
	text-decoration:none;
}

.dynamic-textarea:hover
{
	cursor:pointer;
}

.card-image:hover
{
	border:2px solid black;
	transition: 0.3s;
}

.add-button:hover
{
	transform:scale(1.4);
}
