#container
{
	margin-top:75px;
	background-color:red;
	height:100%;
}

#instructions
{
	background:red;
}

#formContainer
{
	margin-top:20px;
}

#form
{
	background:blue;
}

#cardCreator
{
	background:green;
}

.row
{
	margin-left:0px;
	margin-right:0px;
}